.App {
  text-align: center;
}

.Chef {
  background-color: lightgreen;
  padding: 1em;
}

.GameTable {
  text-align: center;
  display: flex;
  justify-content: center;
}

.GameTable .Air {
  height: 2em;
  vertical-align: bottom;
}

.GameTable td {
  width: 2em;
}