.App {
  text-align: center;
}

.Chef {
  background-color: lightgreen;
  padding: 1em;
}

.GameTable {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 36pt;
}

.GameTable .Air {
  height: 1.5em;
  vertical-align: bottom;
}

.GameTable tr {
  height: 1em;
}

.GameTable td {
  width: 3em;
}

.GameTable .DebugRow {
  font-size: 20pt;
  font-family: monospace;
}

.ControlButtons {
  padding-top: 4em;
}

.ControlButtons button {
  font-size: 42pt;
  margin: 0.1em;
  padding: 0.25em;
  width: 3em;
}

.DebugButtons button {
  font-size: 24pt;
}

.PointsDisplay {
  font-size: 32pt;
}

.rotate {
  transform: rotate(180deg);
}